.cart-summary {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.button-group {
  display: flex;
  justify-content: right;
}

.button-group button {
  border-radius: 10px;
  margin: 3px;
  padding: 3px 10px;
  border: 1px solid rgb(121, 43, 12);
}

#order {
  background-color: rgb(121, 43, 12);
  color: white;
}
#close {
    color:rgb(121, 43, 12);
}

#order:hover,#close:hover{
    background-color:rgb(61, 21, 4);
    color: white;
}

