.meal-item__form{
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    position: relative;
}
.meal-item__form button{
    background-color: rgb(121, 43, 12);
    border: rgb(121, 43, 12);
    color:white;
    padding: 5px .5rem;
    width: 80%;
    border-radius: 12px;
    font-weight: bold;
    margin-left: 1.5rem;

}
.meal-item button:hover{
    background-color: rgb(65, 21, 4);
}