.header{
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: rgba(121, 43, 12, 0.733);
    color:white;
}
img{
    width: 100%;

}